{% extends 'shared/baseIndex.html' %}
{% load static %}

{% block title %}Gestionar Pedidos{% endblock %}

{% block navitems %}
<li class="nav-item">
    <a href="{% url 'gestionarPedidos' %}" class="nav-link text-decoration-underline">Gestionar Pedidos</a>
</li>
<li class="nav-item">
    <a href="{% url 'visualizarStock' %}" class="nav-link text-decoration-underline">Visualizar Stock</a>
</li>
{% endblock %}

{% block content %}
<section class="content-container py-5 bg-light">
    <h1 class="text-center text-danger fw-bold mb-5">Gestión de Pedidos</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4">
                <!-- Botón para visualizar un pedido específico -->
                <a href="{% url 'visualizarPedidos' %}" class="btn btn-primary w-100">Visualizar Pedido</a>
            </div>
            <div class="col-md-6 mb-4">
                <!-- Botón para actualizar el estado de un pedido -->
                <a href="{% url 'actualizarEstado' %}" class="btn btn-secondary w-100">Actualizar Estado</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
