{% extends 'shared/baseIndex.html' %}
{% load static %}

{% block title %}Productos{% endblock %}

{% block brand %}
<a href="{% url 'AdminHome' %}" class="navbar-brand">
    <img class="img-fluid d-block mx-auto" style="max-height: 5rem;" src="{% static '/images/Logo.png' %}" alt="Logo">
</a>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-3">
        <h4 class="h4" style="border-bottom: solid;">Productos</h4>
        <div class="table-responsive mt-3">
            <div class="row mb-3">
                <div class="col text-start">
                    <a href="{% url 'AdminHome' %}" class="btn btn-primary mx-auto">Volver</a>
                    <a href="{% url 'categorias' %}" class="btn btn-primary">Categorías</a>
                </div>
                <div class="col text-end">
                    <a href="{% url 'addProducto' %}" class="btn btn-primary">Agregar Producto</a>
                </div>
            </div>
            <label for="buscador" class="form-label mt-3">Buscador</label>
            <form method="POST">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" name="buscador_nombre" id="buscador_nombre" class="form-control" placeholder="nombre producto" aria-label="buscador nombre" aria-describedby="button-addon1">
                    <input type="date" name="buscador_fecha" id="buscador_fecha" class="form-control form-control-sm" aria-label="buscador fecha" style="max-width: 150px;">
                    <select name="buscador_categoria" id="buscador_categoria" class="form-select form-control-sm" style="max-width: 145px;">
                        <option value="-1">Todas las Categorias</option>
                        {% if categorias %}
                            {% for i in categorias %}
                                <option value="{{ i.id }}">{{ i.nombre }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                    <select name="buscador_disponible" id="buscador_disponible" class="form-select form-control-sm" style="max-width: 145px;">
                        <option value="3">Cualquier</option>
                        <option value="1">Disponible</option>
                        <option value="2">No Disponible</option>   
                    </select>
                    <button class="btn btn-outline-success" type="submit" id="button-addon1">Buscar</button>
                </div>
            </form>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Categoría</th>
                        <th>Descripción</th>
                        <th>Precio Venta</th>
                        <th>Precio Compra</th>
                        <th>Stock</th>
                        <th>Fecha Ingreso</th>
                        <th>Disponibilidad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    {% if productos %}
                        {% for i in productos %}
                        <tr>
                            <td>
                                {% if i.imagen %}
                                    <img src="{{ i.imagen.url }}" alt="Imagen Producto" class="img-fluid" style="max-height: 100px;">
                                {% else %}
                                    <span class="text-danger">No hay imagen del Producto</span>
                                {% endif %}
                            </td>
                            <td>{{ i.nombre }}</td>
                            <td>{{ i.categoria.nombre }}</td>
                            <td>{{ i.descripcion }}</td>
                            <td>{{ i.precio_unitario }}</td>
                            <td>{{ i.precio_pedido }}</td>
                            <td>{{ i.stock_actual }}</td>
                            <td>{{ i.fecha_ingreso }}</td>
                            <td>{% if i.disponible %}Disponible{% else %}No Disponible{% endif %}</td>
                            <td>
                                <a href="{% url 'editProducto' i.id %}" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a href="{% url 'blockProducto' i.id %}" class="{% if i.disponible %}btn btn-danger{% else %}btn btn-success{% endif %}">
                                    <i class="fa-solid fa-ban"></i>
                                </a>
                            </td> 
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr id="emptyRow">
                            <td colspan="9" class="text-center">
                                No hay productos disponibles. 
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>    
</div>
{% endblock %}
