{% extends 'shared/baseIndex.html' %}
{% load static %}

{% block title %}Pedidos{% endblock %}

{% block brand %}
<a href="{% url 'AdminHome' %}" class="navbar-brand">
    <img class="img-fluid d-block mx-auto" style="max-height: 5rem;" src="{% static '/images/Logo.png' %}" alt="Logo">
</a>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <a href="{% url 'AdminHome' %}" class="btn btn-primary">Volver</a>
    <div class="row">
        <div class="col mt-3">
            <label for="buscador" class="form-label">Buscador</label>
            <form method="POST">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="number" name="buscador" id="buscador" class="form-control" placeholder="nro pedido" aria-label="buscador con boton" aria-describedby="button-addon1">
                    <input type="number" placeholder="Total" name="buscador_total" id="buscador_total" class="form-control form-control-sm" aria-label="buscador_total" style="max-width: 150px;">
                    <input type="date" name="buscador_fecha" id="buscador_fecha" class="form-control form-control-sm" aria-label="Fecha" style="max-width: 150px;">
                    <button class="btn btn-outline-success" type="submit" id="button-addon1">Buscar</button>
                </div>
            </form>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Nro Pedido</th>
                        <th>Fecha</th>
                        <th>Total</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% if pedido %}
                    {% for i in pedido %}
                    <tr>
                        <td>{{ i.nro_pedido }}</td>
                        <td>{{ i.fecha }}</td>
                        <td>{{ i.total_pedido }}</td>
                        <td>
                            <a href="{% url 'detallePedido' i.nro_pedido %}" class="btn btn-primary">
                                <i class="fa-solid fa-circle-info"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4" class="text-center">No hay pedidos</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
